{% extends "base.html" %}

{% block content %}
<div class="container">
    <main>
        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <form action="proizvedenie">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="numberOne" class="form-label">Число А</label>
                            <input type="text" name="num1" class="form-control" id="numberOne">
                        </div>

                        <div class="col-sm-5">
                            <label for="numberTwo" class="form-label"><strong>Число Б</strong></label>
                            <input type="text" name="num2" class="form-control" id="numberTwo">
                        </div>
                    </div>

                    <button class="w-100 btn btn-dark btn-lg mt-2" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-body-secondary text-center text-small">
        <p class="mb-1">&copy; 2023 Just for fun!</p>
    </footer>
</div>
{% endblock %}